<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Shubham Test</title>
  </head>
  <body>


    <div class="jumbotron">
        <!-- <form class="form-inline mb-3" id="csv_import"> -->
            <!-- <div class="form-group">
              <label for="exampleFormControlFile1">CSV UPLOAD</label> -->
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
            <!-- </div>
            <button type="submit" class="btn btn-primary mb-2">Upload CSV</button> -->
          <!-- </form> -->


          <!-- Aleart Message -->
          <div class="alert alert-primary" role="alert">
           Successfully Uploaded CSV!
          </div>
          <div class="alert alert-danger" role="alert">
            No data in table!
          </div>
          <div class="alert alert-warning" role="alert">
            Something Went Wrong!
          </div>


          <!-- Fetch BY -->
          <!-- <div class="col-md-12 mt-3">
              <div class="row">
                <button type="button" id="efficiency_id" class="btn btn-outline-primary mr-2">Fetch By Efficiency</button>
                <button type="button" id="experience_id" class="btn btn-outline-secondary mr-2">Fetch By Experience</button>
                <button type="button" id="hide" class="btn btn-outline-success mr-2">Fetch By Efficiency Range</button>
              </div>
          </div> -->

          <div class="col-md-12 mt-2">
            <form class="form-inline formInner" id="create_form">
                <div class="form-group mb-2">
                  <label for="from" class="sr-only">From</label>
                  <input type="number" class="form-control-plaintext" placeholder="From" id="from" required>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                  <label for="To" class="sr-only">To</label>
                  <input type="number" class="form-control-plaintex" id="To" placeholder="To" required>
                </div>
                <button type="submit" id="submit_button" class="btn btn-primary mb-2">Submit</button>
              </form>
          </div>

          <!-- Table -->
          <div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">name</th>
                    <th scope="col">salary</th>
                    <th scope="col">efficiency</th>
                    <th scope="col">total_experience</th>
                    <th scope="col">created_on</th>
                    <th scope="col">updated_on</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
          </div>
    </div>









    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <!-- Working Jquiry -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(function (){
          $("#efficiency_id").on('click' , function (){
            $.ajax({
              url: '/assignment/fetch-employee-data-by-efficiency',
              contentType: 'application/json',
              success : function(response){
                let tbodyEl = $('tbody')
                    tbodyEl.html("")
                    if(response.efficiency_filtered_data.length == 0){
                      alert("Data Not Found To Filter Efficiency")
                    }else{
                      response.efficiency_filtered_data.forEach(element => {
                      tbodyEl.append('\
                        <tr>\
                          <td class = "name">' + element.name + '</td>\
                          <td class = "id">' + element.salary + '</td>\
                          <td class = "id">' + element.efficiency + '</td>\
                          <td class = "id">' + element.total_experience + '</td>\
                          <td class = "id">' + element.createdAt + '</td>\
                          <td class = "id">' + element.updatedAt + '</td>\
                        </tr>\
                          ')
                        
                    });
                    }

              }
            })
          })

          $("#experience_id").on('click' , function (){
            $.ajax({
              url: '/assignment/fetch-employee-data-by-experience',
              contentType: 'application/json',
              success : function(response){
                let tbodyEl = $('tbody')
                    tbodyEl.html("")
                    if(response.experience_filtered_data.length == 0){
                      alert("Data Not Found To Filter Experience")
                    }else{
                      response.experience_filtered_data.forEach(element => {
                      tbodyEl.append('\
                        <tr>\
                          <td class = "name">' + element.name + '</td>\
                          <td class = "id">' + element.salary + '</td>\
                          <td class = "id">' + element.efficiency + '</td>\
                          <td class = "id">' + element.total_experience + '</td>\
                          <td class = "id">' + element.createdAt + '</td>\
                          <td class = "id">' + element.updatedAt + '</td>\
                        </tr>\
                          ')
                        
                    });

                    }

              }
            })
          })
          
          $("#create_form").on('submit' , function (){
            event.preventDefault();

            let fromInput = $('#from').val()
            let toInput = $('#To').val()

            if(fromInput >= toInput){
              alert("To will be greater then from")
            }else{
              $.ajax({
              url: '/assignment/fetch-employee-data-by-range',
              method: 'POST',
              contentType: 'application/json',
              data : JSON.stringify({from : fromInput , to : toInput}),
              success : function(response){
                if(response.range_efficiency_data == 0){
                  alert("Data Not Found In That Range")
                }else{
                  alert(response.range_efficiency_data.salary)
                }
                // let tbodyEl = $('tbody')
                //     tbodyEl.html("")
                //     response.range_efficiency_data.forEach(element => {
                //       tbodyEl.append('\
                //         <tr>\
                //           <td class = "name">' + element.name + '</td>\
                //           <td class = "id">' + element.salary + '</td>\
                //           <td class = "id">' + element.efficiency + '</td>\
                //           <td class = "id">' + element.total_experience + '</td>\
                //           <td class = "id">' + element.createdAt + '</td>\
                //           <td class = "id">' + element.updatedAt + '</td>\
                //         </tr>\
                //           ')
                        
                //     });

              }
            })
            }


          })
       
          $("#exampleFormControlFile1").on('change' , function (e){
            let file = e.target.files[0]
            let formData = new FormData()
                formData.append("exampleFormControlFile1",file)

                console.log(formData)

            $.ajax({
              url: '/assignment//parse-data-from-csv',
              method: 'POST',
              contentType: false,
              data : formData,
              processData: false,

              success : function(response){
                console.log("1111")
                console.log(response)
                let tbodyEl = $('tbody')
                    tbodyEl.html("")
                    response.csv_data.forEach(element => {
                      tbodyEl.append('\
                        <tr>\
                          <td class = "name">' + element.name + '</td>\
                          <td class = "id">' + element.salary + '</td>\
                          <td class = "id">' + element.efficiency + '</td>\
                          <td class = "id">' + element.total_experience + '</td>\
                          <td class = "id">' + element.createdAt + '</td>\
                          <td class = "id">' + element.updatedAt + '</td>\
                        </tr>\
                          ')
                        
                    });

              }
            })
          })
        })
        $(document).ready(function(){
            $(".formInner").hide();
            $("#hide").click(function(){
                $(".formInner").toggle();
            });
        });

    </script>

  </body>
</html>